<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Jasain.com </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/.png"> -->

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logojasain.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logojasain.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">    
                                        <li><a href="index.html"> Beranda</a></li>
                                        <li><a href="about.html">Tentang Kita</a></li>
                                        <li><a href="services.html">Layanan</a></li>
                                        <li><a href="penjual.html">Menjadi Penjual</a></li>
                                        <li><a href="#">Masuk</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <a href="#" class="btn header-btn">Daftar</a>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/bg_hero.png">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">Ayo Serbu<br> Dapatkan Kualitas Terbaik</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Jasain menawarkan berbagai macam jasa
                                    dengan kualitas terbaik. Kamu bisa mendapatkan jasa yang yang kamu butuhkan dengan freelance berpengalaman. Ayo dapatkan sekarang</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn">Daftar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="assets/img/hero/gambar-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- Slider Area End-->
        <!-- What We do start-->
        <div class="what-we-do we-padding" id="layan">
            <div class="container">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle text-center">
                            <h2>Apa Yang Dapat kita Lakukan Untuk Anda?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                <span  class="flaticon-project "></span>
                            </div>
                            <div class="do-caption">
                                <h4>Desain Logo</h4>
                                <p>Tersedia jasa desain logo untuk memperkuat identitas brand perusahaan & merek Anda dari desainer freelance profesional dalam pembuatan logo online hanya di Jasain.com</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> Dapatkan</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do active text-center mb-30">
                            <div class="d-icon">
                                <img src="assets/img/icon/photo.png">
                            </div>
                            <div class="do-caption">
                                <h4>Photoshop Editing</h4>
                                <p>Jasain.com menyediakan ribuan freelancer kreatif yang berpengalaman di bidang jasa edit foto menggunakan photoshop. Di sini, Anda bisa memilih freelancer berdasarkan harga.</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> Dapatkan</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="d-icon">
                                <img src="assets/img/icon/instagram.png">
                            </div>
                            <div class="do-caption">
                                <h4>Design Feed Instagram</h4>
                                <p>Menyediakan jasa desain feed instagram untuk kamu yang ingin hits di sosial media atau ingin menjadi selebgram. Kamu bisa mencari ribuan desain feed instagram dengan selera kamu</p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> Dapatkan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
            <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="d-icon">
                                <img src="assets/img/icon/invitation.png">
                            </div>
                            <div class="do-caption">
                                <h4>Undangan Pernikahan</h4>
                                <p>Tersedia jasa desain undangan pernikahan unik dari freelancer profesional di Jasain. Buat kartu undangan pernikahan berkualitas dengan harga terjangkau dan sesuai seleramu.  </p>
                            </div>
                            <div class="do-btn">
                                <a href="satu"><i class="ti-arrow-right"></i> Dapatkan</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do active text-center mb-30">
                            <div class="d-icon">
                                <img src="assets/img/icon/id-card.png">
                            </div>
                            <div class="do-caption">
                                <h4>Kartu ID</h4>
                                <p>Jasain menyediakan jasa desain kartu nama dengan harga terjangkau. Semua dikerjakan oleh freelancer berpengalaman dalam pembuatan kartu nama. Yuk dapatkan sekarang </p>
                            </div>
                            <div class="do-btn">
                                <a href="#"><i class="ti-arrow-right"></i> Dapatkan</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6">
                        <div class="single-do text-center mb-30">
                            <div class="do-icon">
                                
                            </div>
                            <div class="do-btn">
                                <br><br><br><br><a href="services.html"><i class="ti-arrow-right"></i> <h3>Lainnya</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>



        <!-- What We do End-->
        <!-- We Create Start -->
        <div class="we-create-area create-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-img">
                            <img src="assets/img/hero/gambar-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="we-create-cap">
                            <h3>Jasa Desain Digital Printing Cepat dan Berkualitas</h3>
                            <p>Digital printing merupakan sebuah teknik percetakan dari desain gambar dan teks berbasis digital yang bisa langsung dicetak dengan berbagai media secara cepat dan mudah. Jasain.com menyediakan jasa desain digital printing untuk berbagai kebutuhan dari desainer freelance berpengalaman dalam membuat desain brosur, desain kartu nama, desain undangan, maupun desain spanduk dengan harga terjangkau.</p>
                            <a href="#" class="btn">Dapatkan Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- We Create End -->
        <!-- Generating Start -->
         <!-- Testimonial Start -->
         <div class="testimonial-area">
            <div class="container">
               <div class="testimonial-main">
                    <!-- Section-tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-5  col-md-8 pr-0">
                            <div class="section-tittle text-center">
                                <h2>Mengapa pakai Jasain.com?</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-md-9">
                                <div class="h1-testimonial-active">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Tidak harus mengeluarkan modal alias Free (hanya menggunakan komputer dan koneksi internet). Selain itu, Jasain.com dikerjakan oleh freelancer yang berpengalaman. Kamu bisa mendapatkan pelayanan sesuai dengan yang anda butuhkan</p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                  
                                                </div>
                                            <div class="founder-text">
                                               
                                            </div>
                                            </div>
                                        </div>
                                    </div><!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption ">
                                            <div class="testimonial-top-cap">
                                                <p>Sistem mudah untuk dimengerti dan mudah digunakan. Anda bisa menjadi penjual atau pembeli jasa ngan sistem yang ada di Jasain.com. Selain itu, harga di Jasain.com juga terjangkau untuk kalangan menengah kebawah seperti mpelajar dan mahasiswa </p>
                                            </div>
                                            <!-- founder -->
                                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                                <div class="founder-img">
                                                    
                                                </div>
                                            <div class="founder-text">
                                               
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Testimonial End -->
        
         <!-- have-project Start-->
         <div class="have-project">
            <div class="container">
                <div class="haveAproject"  data-background="assets/img/team/have.jpg">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-7 col-lg-9 col-md-12">
                            <div class="wantToWork-caption">
                                <h2>Apa bakat design anda?</h2>
                                <p>Ayo peroleh penghasilan dengan bakat anda dengan menjadi freelance di Jasain.com. Kamu bisa menjadi penyedia jasa dengan bakat yang kamu miliki. Tunggu apa lagi? Ayo daftarkan dirimu sekarang </p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-12">
                           <div class="wantToWork-btn f-right">
                                <a href="#" class="btn btn-ans">Menjadi Penjual</a>
                           </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- have-project End -->

    </main>
   <footer>

       <!-- Footer Start-->
      <div class="footer-main" data-background="assets/img/shape/footer_bg.png">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-3 col-md-4 col-sm-8">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                              <!-- logo -->
                             <div class="footer-logo">
                                 <a href="index.html"><img src="assets/img/logo/logojasain.png" alt=""></a>
                             </div>
                             <div class="footer-tittle">
                                 <div class="footer-pera">
                                     <p class="info1"> <br> </p>
                                     <p class="info2">info@Jasain.com</p>
                                </div>
                             </div>
                             <div class="footer-social">
                                <a href="https://id-id.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
                                <a href="https://mail.google.com/mail/"><i class="fas fa-envelope"></i></a>
                                <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                            </div>
                         </div>
                       </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Tetang kita</h4>
                                <ul>
                                   <p>Jasain.com menyediakan berbagai macam jasa mulai dari kebutuhan kelas menengah kebawah sampai kebutuhan kelas menengah keatas. Dapatkan fitur menarik di Jasain.com</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Tautan</h4>
                                <ul>
                                  <li><a href="about.html">Lain-lain</a></li>
                                    <li><a href="#layan" ata-animation="fadeIn scrollUp" data-delay="1s">Layanan</a></li>
                                    <li><a href="services.html">Harga</a></li>
                                    <li><a href="services.html">Kategori</a></li>
                                    
                             </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Kontak</h4>
                                <ul>
                                    <li><a href="https://web.whatsapp.com/">+62 882-1147-3717</a></i></li>
                                    <li><a href="https://web.whatsapp.com/">+62 857-3682-7475</a></i></li>
                                    <li><a href="https://myaccount.google.com/">auliask104@gmail.com</a></li>
                             </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center">
                         <div class="col-xl-12 ">
                             <div class="footer-copy-right text-center">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Seluruh hak cipta | Dibuat oleh <a href="https://colorlib.com" target="_blank">Jasain.com</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
      </div>
       <!-- Footer End-->

   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="./assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>